body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.layer {
    margin: 20px; 
    display: flex;
    flex-direction: row;
}

.layer_column {
    display: flex;
    flex-direction: column;
}

input {
    width: 40px;
}
.layer_name_input {
    width: 100px;
}

button {
    margin: 5px;
    align-self: center;
    width: 100px;
}