body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.layer {
    margin: 20px; 
    display: flex;
    flex-direction: row;
    border: 1px dashed;
    border-radius: 7px;
    padding: 10px;
}

.layer_column {
    display: flex;
    flex-direction: column;
}

.layer_column-sp {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}


input {
    width: 40px;
}
.layer_name_input {
    width: 100px;
}

button {
    margin: 5px;
    align-self: center;
    width: 100px;
}